body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: #d7b1c2;
  padding: 20px;
}f5dbed

h1 {
  font-weight: 700;
}

.titulo-principal {
  text-align: center;
color: #7b1d26;
  font-size: 32px;
  margin-bottom: 20px;
}

.malla {
  display: flex;
  overflow-x: auto;
  gap: 30px;
  padding: 10px;
}

.anio {
  min-width: 300px;
  background: #e6cbda;
  border: 2px solid #e6cbda;
  border-radius: 8px;
  padding: 10px;
}

.anio h2 {
  text-align: center;
color: #78244a;
  font-family: 'Roboto', sans-serif;
}

.semestre {
  margin-bottom: 15px;
}

.semestre h3 {
  margin: 5px 0;
  font-size: 14px;
  text-align: center;
 color: #78244a;
  font-family: 'Roboto', sans-serif;
}

.ramo {
  background: #ca99ab;
  color: #6f1b3a;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  opacity: 1;
}

.ramo.aprobado {
  background: #7b1d26;
  opacity: 1;
color: #f5cddc;
}

.ramo.desbloqueado {
  background: #c15469; /* verde clarito */
  opacity: 1;
color: #f4aec7
}

.ramo.desactivado {
  background: #ca99ab;
  opacity: 1;
border: 2px dashed #b47b90;
color: #5c1f36;

}

.ramo.parcial {
  background: #d38393; /* amarillo suave */
  color: #7a2e3d;          /* letra negra */
  border: 2px dashed #bd7583; /* borde naranja */
opacity: 1;
}

.ramo.resaltado {
  background: #daa1a1;
  color: #683030;
  opacity: 1;
}

.ramo.futuro {
  background: #daa1a1;  /* Azul clarito */
  color: #683030;
  border: 2px dashed #ffe1e1; /* Borde azul */
}

.ramo.objetivo {
  background: #7b1d26;
  border: 2px dashed #ffde8c;
color: #f5cddc;
  opacity: 1;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #e6cbda; /* Azul */
  color: #a85e79;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: background 0.3s ease;
}

button:hover {
  background-color: #dab8cb; /* Azul más oscuro al pasar el mouse */
}

.boton-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
